body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#page {
  display:flex;
  gap: 0px;
  place-content: center;
  position: sticky;
}

#board {
  display: inline-block;
  margin-top: 40px;
  border: 1px solid;
  height: fit-content;
  position: sticky;
  left: 0;
}

.cell-uneven {
  background-color: grey;
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

.row {
  display: flex;
}

.cell-even {
  background-color: white;
  width: 70px;
  height: 70px;
  border: 1px solid black;
}

img {
  width: 62px;
  height: 62px;
  margin: 4px;
  cursor: pointer;
  z-index: 1;
}

.suitable {
  background: radial-gradient(rgb(75, 216, 75), rgb(170, 223, 170));
  width: 70px;
  height: 70px;
  border: 1px solid black;
  cursor: pointer;
}

.selected {
  background: radial-gradient(rgb(75, 136, 216), rgb(170, 197, 223));
  width: 70px;
  height: 70px;
  border: 1px solid black;
  cursor: pointer;
}

#board-check {
  position: sticky;
  left: 0;
  display:inline-block;
}

#check-display {
  width: 150px;
  font-size: 50px;
  font-weight: 700;
  height: 70px;
  margin-bottom: -30px;
  margin-top: 0px;
  place-self: center;
}

#taken-out-pieces {
  margin-top: 80px;
  margin-left: 20px;
  height: 580px;
  justify-content: center;
  display: grid;
}

#taken-out-white-pieces {
  width: 450px;
  height: 150px;
  place-items: bottom;
  margin-bottom: 100px;
  margin-top: 20px;
}

#taken-out-white-pieces img {
  margin:  0px -5px;
  cursor: auto;
}

#taken-out-black-pieces {
  width: 450px;
  height: 150px;
  margin-bottom: -180px;
  place-content: bottom;
}

#taken-out-black-pieces img {
  margin: 0px -5px;
  cursor: auto;
}